//******************************************************************************
// Group UI component's Info & Technical links.
//
//******************************************************************************


//==============================================================================
// Technical links (mobile-view).
//==============================================================================

.group__technical {
    // Technical downloads panel.
    // Shown only on mobile & tablet. Hidden and replaced with a separate 
    // element on desktop-view.
    width: 100%;
    
    @media #{$small} {
        display: none;
    }

    ul {
        // .group__technical ul
        // The unordered list of downloads.
        list-style: none;
        margin-left: 20px;
    }

    li {
        // .group__technical li
        // A downloads list item.
        position: relative;
        text-indent: -20px;
        padding-left: 20px;
    }

    a {
        // .group__technical a
        // An individual download, the <a> in each <li>.
        line-height: 2;
        color: $bright-blue;
        
            .icon--popout,
            .icon--download,
            .icon--pdf {
            // .group__technical a .icon--popout
            // .group__technical a .icon--download
            // .group__technical a .icon--pdf 
            // The icon (pdf, downloadable or external link).
            display: inline-block;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 0 center;
            width: 16px;
            height: 16px;
            position: relative;
            left: -3px;
            top: 2px;
        }
    }
}


//==============================================================================
// Information & Technical downloads table (desktop-view).
//==============================================================================

.technical__title {
    // <h2> heading containing "Technical: "
    display: inline;
    font-weight: bold;
}

.warranty-links {
    // Container for warranty links.
    display: inline-block;
    white-space: nowrap;
    padding-left: 15px;
}

.info-technical-table {
    // 2 cell table displaying information above the product table, shown on 
    // desktop-view only.
    width: 100%;
    color: $tlc-red;
    margin-bottom: 8px;
    
    @media #{$less-than-small} {
        display: none;
    }
    
    &__info {
        // .info-technical-table__info
        // Left-hand cell containing information text.
        background-image: url(/Graphics/icon-info.svg);
        background-size: 15px 15px;
        background-repeat: no-repeat;
        padding: 8px 0 0 30px;
        background-position: 10px 8px;
        font-weight: bold;
    
        .stock-msg-1 {
            // .info-technical-table__info .stock-msg-1
            // Stock Message 1.
            color: $tlc-red;
            font-weight: bold;
        }

        a.stock-msg-1 {
            // .info-technical-table__info a.stock-msg-1
            text-decoration: none;

            &:hover {
                // .info-technical-table__info a.stock-msg-1:hover
                text-decoration: underline;
                color: red;
            }
        }

        .stock-msg-2 {
            // .info-technical-table__info .stock-msg-2
            // Stock Message 2.
            color: $tlc-blue;
        }
    }

    &__technical {
        // .info-technical-table__technical
        // Right-hand cell containing technical downloads
        // Hidden on mobile & tablet. ".group__technical" is displayed instead.
        text-align: right;
        padding: 8px 10px 0 0;

        a {
            // .info-technical-table__technical a
            font-weight: bold;
            color: black;
            white-space: nowrap;

            &:hover {
                // .info-technical-table__technical a:hover
                color: $bright-blue;
            }
            
            .icon--popout,
            .icon--download,
            .icon--pdf {
                // .info-technical-table__technical a .icon--popout
                // .info-technical-table__technical a .icon--download
                // .info-technical-table__technical a .icon--pdf
                white-space: nowrap;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: 0 center;
                padding-left: 10px;
                padding-right: 10px;
                margin-left: 5px;
                position: relative;
                top: 1px;
            }
        }
    }
}