---
import "/src/Styles/_module.breadcrumbs.scss";
---

<header class="header-listings">
  <div class="site-width-wrapper">
    <nav class="breadcrumbs">
      <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="/tcl/my-orders-open">My Orders</a>
        </li>
        <li class="breadcrumbs__item order-name js-order-name-control is-visible">
          <a class="breadcrumbs__link order-name__link" href="#">#552957<span class="icon icon--edit order-name__edit-icon"></span>
          </a>
          <span class="order-name__hover-label">Add an Order Reference</span>
        </li>
      </ul>
    </nav>
    <form class="share-basket js-share-basket" action="/tcl/orders/552957/share-basket" method="POST">
      <button class="share-basket__button js-share-basket-button" type="submit" disabled>
        <div class="share-basket__button-text">Share <span class="share-basket__text-desktop">Your Basket</span>
        </div>
      </button>
      <input type="hidden" name="_authenticity_token" value="6caa2dcfa2fa16414a9517e9fada88f55a669c2f">
    </form>
  </div>
</header>