---
import "/src/Styles/_module.footer.scss"
---

<!-- Start Template Footer -->

<footer class="page-footer">
  <div class="site-width-wrapper">
    <a class="page-footer__panel" href="/Information/branches/">
      <div class="page-footer__panel-icon">
        <span class="icon icon--pin"></span>
      </div>
      <p class="page-footer__panel-text">Branch Finder</p>
    </a>
    <a class="page-footer__panel" href="/tcl/quote-requests/new">
      <div class="page-footer__panel-icon">
        <span class="icon icon--calculator"></span>
      </div>
      <p class="page-footer__panel-text">Request a Quote</p>
    </a>
    <a class="page-footer__panel" href="/Technical/">
      <div class="page-footer__panel-icon">
        <span class="icon icon--info"></span>
      </div>
      <p class="page-footer__panel-text">Technical Section</p>
    </a>
    <a class="page-footer__panel" href="https://eepurl.com/Y1OJ5">
      <div class="page-footer__panel-icon">
        <span class="icon icon--email"></span>
      </div>
      <p class="page-footer__panel-text">TLC Newsletter</p>
    </a>
    <a class="page-footer__panel" href="https://uk.trustpilot.com/review/www.tlc-direct.co.uk">
      <img class="trustpilot-logo" src="/Graphics/trustpilot-logo-v2.svg" alt="Rated Excellent on TrustPilot" width="300" height="52" />
    </a>
    <div class="page-footer__panel">
      <a class="icon-social" title="Visit us on Facebook" href="https://www.facebook.com/pages/TLC-Direct/119470704850448">
        <span class="icon icon--facebook"></span>
      </a>
      <a class="icon-social" title="Follow us on Twitter" href="https://twitter.com/tlcdirect1">
        <span class="icon icon--twitter"></span>
      </a>
      <a class="icon-social" title="Pin us on Pinterest" href="https://www.pinterest.com/tlcdirect/">
        <span class="icon icon--pinterest"></span>
      </a>
      <a class="icon-social" title="Join us on Instagram" href="https://www.instagram.com/tlc_direct">
        <span class="icon icon--instagram"></span>
      </a>
    </div>
  </div>
</footer>

<!-- End Template Footer -->
